{% extends 'dashboard/dashboard_base.html' %}
{% block dashboardfunction %}
<br/>
<div id="page-content-wrapper" style="margin-top:100px;">
  <div class="page-content inset">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        {% load widget_tweaks %}
        <br/>
        {% if saved %}
          <div class="alert alert-success" role="alert">Saved!</div>
        {% endif %}
        <h1>Account & Profile<span class="sub_icon glyphicon glyphicon-user"></span></h1>
        <br/>

        <div class="form-container">

          <form id="user_form" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">

            {% csrf_token %}

            <h4>Your Account Information</h4>
            <hr/>
            <div class="form-group form-inline">
              <label>Email Address: </label>
              {% render_field p_user_form.email type="text" class+="form-control" %}
              &nbsp
              <label>Username: </label>
              {% render_field p_user_form.username type="text" class+="form-control" %}
            </div>

            <div class="form-group form-inline">
              <label>First Name: </label>
              {% render_field p_user_form.first_name type="text" class+="form-control" %}
              &nbsp
              <label>Last Name: </label>
              {% render_field p_user_form.last_name type="text" class+="form-control" %}
            </div>

            <br/>
            <br/>

            <h4>Your Profile</h4>
            <hr/>
            <div class="form-group form-inline">

              <label>Gender: </label>
              {% render_field p_user_profile_form.gender class+="form-control" %}
              &nbsp
              <label>Birthday: </label>
              {% render_field p_user_profile_form.birthday type="text" class+="form-control" %}
            </div>

            <div class="form-group form-inline">
              <label>Country of Residence: </label>
              {% render_field p_user_profile_form.country class+="form-control" %}
              &nbsp
              <label>Zip/Postal Code: </label>
              {% render_field p_user_profile_form.zip_code type="text" class+="form-control" %}
            </div>

            <div class="form-group">
              <label>Residential Address: </label>
              {% render_field p_user_profile_form.home_address type="text" class+="form-control" rows=5 %}
              <br/>
              <label>Mobile No: </label>
              {% render_field p_user_profile_form.mobile_no type="text" class+="form-control" %}
            </div>

            <br/>
            <br/>

            <div class="form-group form-inline">
              <button type="submit" class="btn btn-block btn-cta-primary">Save</button>
            </div>

          </form>
          <br/>
          <br/>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
