{% extends 'dashboard/dashboard_base.html' %}
{% block dashboardfunction %}
{% load portal_tags %}
<br/>
<div id="page-content-wrapper">
  <div class="page-content inset">
      <div class="col-md-8 col-sm-12 col-sm-offset-2">
        <h1>Your Activities<span class="sub_icon glyphicon glyphicon-tasks"></span></h1>

        {% ifusergroup Clinician %}
        <h3 align="left">Wassup Peeps! <small>Total: {{ user_posts.count }}</small></h3>
        <table class="table table-hover" style="font-size:14px;">
            <tr>
              <th width="15%">Forum</th>
              <th width="65%">Your Post</th>
              <th width="20%">Date Posted</th>
            </tr>

            {% for post in user_posts %}
              <tr>
                <td>{{ post.forum }}</td>
                <td><a href="{% url 'thread' post.pk %}" target="blank">{{ post.experience }}</a></td>
                <td>{{ post.created }}</td>
              </tr>
            {% endfor %}

        </table>
        {% endifusergroup %}

        <br/>

        <h3 align="left">Wassup Doc! <small>Total: {{ user_qns.count }}</small></h3>
        <table class="table table-hover" style="font-size:14px;">
            <tr>
              <th width="15%">Specialty</th>
              <th width="55%">Question</th>
              <th width="20%">Date Posted</th>
              <th width="10%">Status</th>
            </tr>

            {% for qn in user_qns %}
            <tr>
              <td>{{ qn.specialty }}</td>
              <td><a href="{% url 'get_question' qn.pk %}" target="blank">{{ qn.question }}</a></td>
              <td>{{ qn.timestamp }}</td>
              {% if qn.status = 'ANSWERED' %}
              <td><b>{{ qn.status }}</b></td>
              {% else %}
              <td>{{ qn.status }}</td>
              {% endif %}
            </tr>
            {% endfor %}
        </table>
        <br/>
        <br/>

      </div>
    </div>
</div>
{% endblock %}
