{% extends 'dashboard/dashboard_base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% load portal_tags %}
{% load staticfiles %}

{% block dashboardfunction %}
<br/>
<div id="page-content-wrapper" style="margin-top:100px;">

  <div class="page-content inset">

    <div class="row">
      <div class="col-md-11 col-sm-11">
        <h1>In a glance, <small>{{ user.username }}</small><span class="sub_icon glyphicon glyphicon-globe"></span></h1>
        <br/>
      </div>
      <div class="{% ifusergroup User %} col-sm-5 {% endifusergroup %} {% ifusergroup Clinician %} col-sm-10 {% endifusergroup %}">
        <div class="box">
          <div class="icon">
            <div class="image"><i class="fa fa-flag"></i></div>
            <div class="info">
              <p style="font-size:25px"><b>Latest News</b></h3>
              <hr/>
              {% for article in articles %}
                <p style="font-size:20px;">
                  <b>{{ article.title }}</b>
                  <br/>
                  <span style="font-size:18px">By {{ article.author.username }}<br/>on {{ article.timestamp }}</span>
                </p>
                <p style="font-size:16px" align=justify>
                  {{ article.bodytext | safe | truncatechars_html:500 | striptags }}
                </p>
                <div class="more">
                  <a href="{{ article.get_absolute_url }}" target=blank title="Title Link">
                    Read More <i class="fa fa-angle-double-right"></i>
                  </a>
                </div>
                <hr/>
              {% endfor %}

            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>
      {% ifusergroup User %}
      <div class="col-sm-5">
        <div class="box">

              	<div class="icon">
									<div class="image"><i class="fa fa-user-md"></i></div>
									<div class="info">
										<h3 class="title">Doctors</h3>
										<ul class="list-unstyled scrollable">
										  <li class="doctor">
											<img class="img-responsive img-circle" src="{% static 'assets/images/people/profile-s-1.png' %}" alt="" />
											<img class="img-responsive caduceus" src="{% static 'assets/images/Caduceus-logo.png' %}" alt="" />
											<span class="name"> Dr. Melvin </span>
											<span class="spec"> Neuroscience </span>
											<span class="location"> Singapore </span>
										  </li>
										  <li class="doctor">
											<img class="img-responsive img-circle" src="{% static 'assets/images/people/profile-s-1.png' %}" alt="" />
											<img class="img-responsive caduceus" src="{% static 'assets/images/Caduceus-logo.png' %}" alt="" />
											<span class="name"> Dr. Ernest </span>
											<span class="spec"> Gynaecology </span>
											<span class="location"> Singapore </span>
										  </li>
										</ul>
									</div>
								</div>
								<div class="space"></div>
			  </div>
        <div class="box">
          <div class="icon">
            <div class="image"><i class="fa fa-flag"></i></div>
            <div class="info">
              <p class="title">Ask a doctor!</p>
              <hr/>

                <form action="{% url 'save_doc_form' %}" method="POST">
                  {% csrf_token %}
      						<div class="form-group">
                    <label for="voting" class="control-label">Question</label>
                    {% render_field doc_question_form.question class+="form-control" attr="required":textarea rows="4" %}
                    <br/>
                    <label for="voting" class="control-label">Specialty</label>
                    {% render_field doc_question_form.specialty class+="form-control" attr="required"%}
                    <br/>
                    <button type="submit" class="btn btn-default">Submit!</button>
      						</div>
      					</form>
                <hr/>
            </div>
          </div>
          <div class="space"></div>
        </div>
        <div class="box">
          <div class="icon">
            <div class="image"><i class="fa fa-flag"></i></div>
            <div class="info">
              <p class="title">Share an experience!</p>
              <hr/>
              <p>
                <form action="{% url 'save_comm_form' %}" method="POST">
                  {% csrf_token %}
                    <div class="form-group">
                      <label for="voting" class="control-label">Category</label>
                      {% render_field comm_question_form.forum class+="form-control" attr="required" %}
                    </div>
        						<div class="form-group">
        							<label for="voting" class="control-label">How does (did) It impact your daily activities?</label>
                      {% render_field comm_question_form.impact_scale id="rating1" class+="rating" attr="required" %}
        						</div>
        						<div class="form-group">
        							<label for="voting" class="control-label">Side effects experienced from medications?</label>
                      {% render_field comm_question_form.side_effect_scale id="rating2" class+="rating" attr="required" %}
        						</div>
        					  <div class="form-group">
        							<label class="control-label">Is it costly to manage?</label><br>
                      {% render_field comm_question_form.manage_cost id="rating3" class="rating" attr="required" %}
        						</div>
        						<div class="form-group">
        							<label class="control-label">How long have you been diagnosed?</label><br>
                      {% render_field comm_question_form.diagnosis_duration id="rating4" class+="rating" attr="required" %}
        						</div>
        						<div class="form-group">
        							<label for="voting" class="control-label">What medications are you currently on?</label>
                      {% render_field comm_question_form.medication class+="form-control" attr="required" rows="1" cols="50" %}
        						</div>
                    <div class="form-group">
                      <label for="voting" class="control-label">Describe your experience</label>
                      {% render_field comm_question_form.experience class+="form-control" attr="required" rows="5" cols="30" %}
                    </div>
        						<div class="form-group">
        							<div class="col-sm-offset-5 col-sm-2">
        								<button type="submit" class="btn btn-default">Submit Your Experience</button>
                        <br/>
                        <br/>
        							</div>
        						</div>
        				</form>
              </p>
              <br/>
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div><!--col sm 5-->
      {% endifusergroup %}
    </div>
  </div>
</div>
{% endblock %}
