{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>WassupHealth Forums</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/flexslider/flexslider.css' %}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/flexslider/flexslider.css' %}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/forums.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/community.css' %}" media="all" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{% static 'assets/css/br-warpers.css' %}" media="all" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{% static 'assets/css/textext.core.css' %}" media="all" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{% static 'assets/css/textext.arrow.css' %}" media="all" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{% static 'assets/css/textext.autocomplete.css' %}" media="all" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{% static 'assets/css/textext.clear.css' %}" media="all" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{% static 'assets/css/textext.focus.css' %}" media="all" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{% static 'assets/css/textext.prompt.css' %}" media="all" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{% static 'assets/css/textext.tags.css' %}" media="all" rel="stylesheet" type="text/css"/>

</head>

<body class="blog-page">
    <div id="wrapper" class="">
        <div class="container">
            <!-- Sidebar -->
			<div id="sidebar-wrapper">
				<ul id="sidebar_menu" class="sidebar-nav">
					<li class="sidebar-brand"><a id="menu-toggle" href="#">WassupHealth<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
				</ul>
				<div class="profile-userpic">
					<img class="img-responsive img-circle" src="{% static 'assets/images/people/profile-s-1.png' %}" alt="" />
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ user.username }}
					</div>
					<div class="profile-usertitle-job">
						{{ user.email }}
					</div>
				</div>
				<ul class="sidebar-nav" id="sidebar">
          <li><a href="{% url 'dashboard_index' %}">In a Glance<span class="sub_icon glyphicon glyphicon-globe"></span></a></li>
					<li><a href="{% url 'view_activities' %}">Your Activities<span class="sub_icon glyphicon glyphicon-tasks"></span></a></li>
					<li><a href="{% url 'profile' %}">Your Account & Profile<span class="sub_icon glyphicon glyphicon-user"></span></a></li>
          <li><a href="{% url 'healthinfo' %}">Your Health Information<span class="sub_icon glyphicon glyphicon-heart"></span></a></li>
          <li><a>Settings<span class="sub_icon glyphicon glyphicon-cog"></span></a></li>
          <li><a>Feedback<span class="sub_icon glyphicon glyphicon-bullhorn"></span></a></li>
          <li><a href="{% url 'logout' %}">Logout<span class="sub_icon glyphicon glyphicon-off"></span></a></li>
				</ul>
			</div>

      {% block dashboardfunction %}
      {% endblock %}

		</div>
    </div><!--//wrapper-->
    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/bootstrap-hover-dropdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/back-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-placeholder/jquery.placeholder.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/FitVids/jquery.fitvids.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/flexslider/jquery.flexslider-min.js' %}"></script>

    <!-- blog page specific js starts -->
    <script type="text/javascript" src="{% static 'assets/plugins/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/masonry.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/blog.js' %}"></script>
    <!-- blog page specific js ends -->

    <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>

	<script type="text/javascript">
	$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
	});
	</script>

</body>
</html>
