{% include 'header.html' %}

{% load staticfiles %}
	
	<br/>
	
	<div class="row">
   
  	 	<div class="large-4 columns">
 
			<div class="panel category">
				<h5>Administration</h5>
				<ul class="side-nav">
					<li><a href="#">Your account</a></li>
					<li><a href="#">Your WassupHealth's profile</a></li>
					<li><a href-"#">Enrol your health-data now</a></li>
					<li><a href="#">Customize your portal</a></li>
				</ul>
			</div>
 		</div>

 		<div class="large-8 columns" role="content">
		
		</div>

    </div>

{% include 'footer.html' %}
