{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WassupHealth</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/wassuphealth_custom.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'foundation-icons/foundation-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}"/>

  </head>

  <body class="main-font">

    <div class="contain-to-grid company-masthead">

    	<br/>

      <section class="top-bar-section row">

        <ul class="left">
        	<br/>
        	<p>Today is {% now "jS F Y" %}<br/><i>Have you done your exercise today?</i></p>
        </ul>

        <ul class="right">
          <a href="{% url 'home' %}"><img src="{% static 'img/logo_web.png' %}" /></a>
        </ul>

      </section>

    	<br/>

    </div>

    <div class="contain-to-grid sticky navigation-area">

		<nav class="top-bar" data-topbar role="navigation">

			<ul class="title-area">

				<li class="toggle-topbar menu-icon">
					<a href="#"><span>Menu</span></a>
				</li>

			</ul>

			<section class="top-bar-section">

				<ul class="left">

						{% if user.is_authenticated %}
						<li class="has-dropdown">
							<a href="#">Welcome, {{ user.username }}!</a>
							<ul class="dropdown">
                {% if user.group == "clinician" %}
								  <li><a href="{% url 'clinicaladmin' %}">Control Panel</a></li>
                {% else %}
                  <li><a href="{% url 'useradmin' user.pk %}">Manage your Account</a></li>
                {% endif %}
								<li><a href="{% url 'logout' %}">Logout</a></li>
							</ul>
						</li>
						{% else %}
						<li><a href="#" data-reveal-id="myModal">Login/Register</a></li>
						{% endif %}

						<li class="has-dropdown">
							<a href="#">Sections</a>
							<ul class="dropdown">
								{% for h in health_threats %}
									<li><a href="{{ h.get_absolute_url }}">{{ h.category_name }}</a></li>
								{% endfor %}

								{% for category in categories %}
									<li><a href="{{ category.get_absolute_url }}">{{ category.category_name }}</a></li>
								{% endfor %}
							</ul>
						</li>

						<li><a href="{% url 'forums' %}">Forums</a></li>

						<li><a href="#">Help</a></li>

					</ul>

					<ul class="right">

						<li><a href="#"><i class="fi-torso"></i></a></li>

						<li class="search">
							<form>
								<input type="search" placeholder="Search Wassuphealth">
							</form>
						</li>

						<li class="has-button">
							<a class="small button" href="#">Search</a>
						</li>
					</ul>
				</section>
			</nav>
			</div>

		</div>

	</div>
