{% load staticfiles %}

<!-- Javascript -->
<script type="text/javascript" src="{% static 'assets/plugins/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/bootstrap-hover-dropdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/back-to-top.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery-placeholder/jquery.placeholder.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/FitVids/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/flexslider/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>

<!-- Vimeo video API -->
<script src="{% static 'http://a.vimeocdn.com/js/froogaloop2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/vimeo.js' %}"></script>
