{% include 'header.html' %}

{% load staticfiles %}

	<br/>
	<br/>

	<div class="row">

  	 	<div class="small-12 large-3 columns">

				<h3 class="article-heading" align="left"><b>User Control Panel</b></h3>
				<div class="panel category">
					<h5>Your Administration</h5>
					<ul class="side-nav">
						<li><a href="#yourprofile">Your Profile</a></li>
						<li><a href="#health">Your Health</a></li>
						<li><a href="#askadoc">Ask a Doc</a></li>
					</ul>
				</div>

			 <div class="category">
 				<img src="http://placehold.it/320x320&text=Advertisement"/>
 				<br/>
 				<br/>
 			</div>

 		</div>


 		<div class="small-12 large-8 columns" role="content">

			<a name="yourprofile"></a>
			<div class="row">

				<h4 class="article-heading" align="right">Your Profile</h3>

					<hr/>

					<table border="0" width="100%" cellpadding="0">
						<tr>
							<td width="30%"><h6><b>Username</b></h6></td>
							<td width="70%">{{ userinfo.username }}</td>
						</tr>
						<tr>
							<td><h6><b>Password</b></h6></td>
							<td>**********</td>
						</tr>
						<tr>
							<td><h6><b>Email Address</b></h6></td>
							<td>{{ userinfo.email }}</td>
						</tr>
						<tr>
							<td><h6><b>Join Date</b></h6></td>
							<td>{{ userinfo.date_joined }}</td>
						</tr>
						<tr>
							<td><h6><b>Country</b></h6></td>
							<td>{{ profile.country }}</td>
						</tr>
						<tr>
							<td><h6><b>Residential Address</b></h6></td>
							<td>{{ profile.home_address }}</td>
						</tr>
						<tr>
							<td><h6><b>Profile Photo</b></h6></td>
							<td>
								{% if img %}
									<img border="0" src="{{ MEDIA_URL }}{{ img }}" />
								{% else %}
									<img border="0" src="http://placehold.it/150x150&text=No Img" />
								{% endif %}
								<form enctype="multipart/form-data" action="{% url 'useradmin' profile.pk %}" method="POST">
									{% csrf_token %}
									<br/>
									<p><b>Change your profile pic:</b></p>
									{{ pf.avatar }}
									<input type="submit" value="Submit" id="submit" />
								</form>
							</td>
						</tr>
					</table>

			</div>

			<br/>

			<a name="health"></a>

			<div class="row">

				<h4 class="article-heading" align="right">Your Health [<a href="{% url 'manage_healthprofile' %}">Manage</a>]</h3>

				<hr/>

				<table border="0" width="100%" cellpadding="0">
					<tr>
						<td width="30%"><h6><b>Height</b></h6></td>
						<td width="70%">{{ profile.publicuserprofile.height }}</td>
					</tr>
					<tr>
						<td><h6><b>Weight</b></h6></td>
						<td>{{ profile.publicuserprofile.weight }}</td>
					</tr>
					<tr>
						<td><h6><b>Allergies</b></h6></td>
						<td>{{ profile.publicuserprofile.allergies }}</td>
					</tr>
				</table>

			</div>

			<br/>

			<a name="askadoc"></a>

			<div class="row">

				<h4 class="article-heading" align="right">Ask a Doc</h3>

				<hr/>

				<p><a href="{% url 'questions_main' %}">ASK NOW!</a></p>

				{% if qns %}
				<table border="0" cellpadding="0">
					<tr>
						<td width="70%"><h5><b>Questions</b></h5></td>
						<td width="20%"><h5><b>Last Updated</b></h5></td>
						<td width="10%"><h5><b>Status</b></h5></td>
					</tr>

					{% for q in qns %}

					<tr>
						<td {% if forloop.last %}class="last"{% endif %}>

							<div class="title"><a href="{% url 'get_question' q.pk %}">{{ q.question }}</a></div>

						</td>

						<td {% if forloop.last %}class="last"{% endif %}>

							{{ q.timestamp }}

						</td>

						<td {% if forloop.last %}class="last"{% endif %}>

							{{ q.status }}

						</td>

					</tr>

					{% endfor %}

				</table>

				{% else %}

					<p>Nothing posted to a doctor yet</p>

				{% endif %}

			</div>
			<br/>

		</div>

    </div>

    <br/>

{% include 'footer.html' %}
