{% extends 'common/common_base.html' %}
{% block title %}
<a href="#">Wassuphealth!
  <span class="sub">Appointment Booking</span>
</a>
{% endblock %}
{% load widget_tweaks %}
{% block wsh_content %}
<div class="container">
  <div class="hidden-xs hidden-sm" style="margin-top:100px;"></div>
	<div class="row">
    <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
    <div class="form-group">

      <h3 align=justify>Book an appointment with Dr. {{ doctor_user.first_name}} {{ doctor_user.last_name}}</h3>
      <hr/>
      <form action="{% url 'save_appointment' doctor_id %}" method="POST">
        {% csrf_token %}
        <label for="voting" class="control-label">Your Contact*:</label>
        {% render_field appt_form.contact_no class+="form-control" attr="required" %}
        <br/>
        <label for="voting" class="control-label">Your Email*:</label>
        {% render_field appt_form.email_address class+="form-control" attr="required" %}
        <br/>
        <label for="voting" class="control-label">Date and Time (in format YYYY-MM-DD HH:MM)*:</label>
        {% render_field appt_form.booking_datetime class+="form-control" attr="required" %}
        <br/>
        <label for="voting" class="control-label">Remarks (if any)*:</label>
        {% render_field appt_form.remarks class+="form-control" attr="required":textarea rows="4" %}
        <br/>
        <button type="submit" class="btn btn-default">Book now!</button>
      </form>

      <hr/>
      <p><small>You will receive an email confirmation after the booking has been successfully made.</small></p>
    </div><!--form-group-->
    </div>
  </div><!--/row-->
</div>
{% endblock %}
