{% load staticfiles %}

		<div class="large-12 columns" style="background-color: #FFA200; color: #FFF">

			<br/>

			<div class="row">
				<div class="large-6 columns">
					<p>Copyright to WassupHealth 2014</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="#">Join Us</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Legal</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	 
  
		<script src="{% static 'portal/js/vendor/modernizr.js' %}"></script>
		<script src="{% static 'portal/js/vendor/jquery.js' %}"></script>
		<script src="{% static 'portal/js/foundation/foundation.js' %}"></script>
		<script src="{% static 'portal/js/foundation/foundation.reveal.js' %}"></script>
		<script>
			$(document).foundation();
		</script>
		
  </body>

</html>
