{% load staticfiles %}

        <div id="footer" class="large-12 columns" style="background-color: #53BBF4; color: #FFF">
          <div class="row">
            
            <br/>

            <div class="large-6 columns">
              <p>© Copyright to WassupHealth, 2014</p>
            </div>
            
            <div class="large-3 columns">
              <ul>
                <li>About WassupHealth</li>
                <li><a href="{% url 'PDPA' %}">Personal Data Protection Policy</a></li>
                <li>Legal & Terms of Use</li>
              </ul>
            </div>
          
          </div>
        </div>
      
      <script src="{% static 'portal/js/vendor/jquery.js' %}"></script>      
      <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

      <script src="{% static 'portal/js/vendor/modernizr.js' %}"></script>
      <script src="{% static 'portal/js/foundation.min.js' %}"></script>
      <script src="{% static 'portal/js/foundation/foundation.reveal.js' %}"></script>
      <script src="{% static 'portal/js/foundation/foundation.topbar.js' %}"></script>
      
      <script type="text/javascript" src="{% static 'portal/vendor/slick/slick.min.js' %}"></script>

      <script type="text/javascript">
        $(document).foundation();

        $(document).ready(function(){
            $('.slider').slick({
              dots: true,
              accessibility: true,
              autoplay: true,
              arrows: true
            });
        });
      </script>
		
  </body>

</html>
