{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WassupHealth</title>
    <link rel="stylesheet" href="{% static 'portal/css/foundation.css' %}" />
	<link rel="stylesheet" href="{% static 'portal/css/modal.css' %}" />
	<!--<link rel="stylesheet" href="{% static 'portal/css/custom.css' %}" />-->
  </head>
  <body>
    
    <div class="row">
		
		<div class="large-12 columns">
			
			<div class="contain-to-grid fixed" style="background-color: #28ABE3">
			<nav class="top-bar" style="background-color: #28ABE3" data-topbar>

				<ul class="title-area">
           
					<li class="name">
						<h1>
							<a href="{% url 'home' %}">
								<b>Wassup</b>HEALTH
							</a>
						</h1>
					</li>
					<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
					
				</ul>
 
				<section class="top-bar-section" style="background-color: #28ABE3">
				
					<ul class="left">
						
						<li><a href="#" data-reveal-id="myModal">LOGIN</a></li>
						
						<li class="has-dropdown">
							<a href="#">Categories</a>
							<ul class="dropdown">
								{% for category in categories %}
									<li><a href="{{ category.get_absolute_url }}">{{ category.category_name }}</a></li>
								{% endfor %}
							</ul>
						</li>
						
						<li><a href="#">Forums</a></li>
						<li><a href="#">Join Us</a></li>
						<li><a href="#">Contact Us</a></li>
						
					</ul>
 
					<ul class="right">
						<li class="search" style="background-color: #28ABE3">
							<form>
								<input type="search">
							</form>
						</li>
 
						<li class="has-button" style="background-color: #28ABE3">
							<a class="small button" href="#">Search</a>
						</li>
					</ul>
				</section>
			</nav>
			</div>
			
		</div>
		
	</div>