{% include 'header.html' %}

{% load humanize %}

{% load staticfiles %}
	
	<br/>

    <div class="row">
    	<p align=center>
    		<img src="http://placehold.it/720x100/?text=advertisement"/>
    	</p>
    
    </div>

     <div class="row">
        <div class="large-12 columns">
          	<div class="slider">
          		<div class="slide slide--has-caption slick-slide">
					<img src="{% static 'portal/img/healthcare_01.jpg' %}"/>
					<div class="slide-caption">Any HTML here 1</div>
				</div>
            	<div class="slide slide--has-caption slick-slide">
            		<img src="{% static 'portal/img/healthcare_02.jpg' %}"/>
            		<div class="slide-caption">Any HTML here 2</div>
            	</div>
            	<div class="slide slide--has-caption slick-slide">
            		<img src="{% static 'portal/img/healthcare_03.jpg' %}"/>
            		<div class="slide-caption">Any HTML here 3</div>
            	</div>
            	<div class="slide slide--has-caption slick-slide">
            		<img src="{% static 'portal/img/healthcare_04.jpg' %}"/>
            		<div class="slide-caption">Any HTML here 4</div>
            	</div>
          </div>
        </div>
      </div>

      <br/>

	<div class="row">
  
		<div class="large-8 columns" role="content">
		
		{% for article in articles %}

			<article>
		
				<h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
				<h6>Posted by {{ article.author }} since {{ article.timestamp | naturaltime }}</h6>
				<h6>Under: {{ article.category }}</h6>
				<br/>
				{{ article.bodytext | safe | truncatechars_html:500 }}

			</article>

		<br/>
		<hr/>
 		{% endfor %}

 		<div class="row">
 			
 			<ul class="small-block-grid-5">

				{% if articles.has_previous %}
 					<li class="left">
 						<a href="?page={{ articles.previous_page_number }}" class="button tiny">Newer Articles</a>
 					</li>
 				{% endif %}

 				{% if articles.has_next %}
					<li class="right">
						<a href="?page={{ articles.next_page_number }}" class="button tiny">Older Articles</a>
					</li>
				{% endif %}

 			</ul>

		</div>

    </div>

    <aside class="large-4 columns">
 		
 		<div class="category">
 			<img src="http://placehold.it/320x320&text=DatePicker"/>
 			<br/>
 			<br/>
 		</div>

		<div class="category">
			<h4>Featured Articles</h4>
			<hr/>
			Some articles
		</div>
		
		<br/>

		<div class="category">
			<h4>Most Commented</h4>
			<hr/>
			Some rubbish
		</div>

		<br/>

		<div class="category">
			<h4>Most Viewed</h4>
			<hr/>
			Some viewed
		</div>
 
    </aside>
 
     
	</div>

	<br/>
	<br/>
	<br/>
	
{% include 'auth.html' %}
	
{% include 'footer.html' %}
