{% include 'header.html' %}

{% load humanize %}

{% load staticfiles %}
 	<br/>
 	
	<div class="row">
  		
  		<div class="large-4 columns">

  			<div class="category">
  				<img src="http://somphdsymposium.weebly.com/uploads/2/3/2/2/23224754/2445075_orig.jpg"/>
  				<br/>
  				<br/>
  			</div>

  			<div class="panel">
  				<h4>Register with Wassuphealth to: </h4>
				<hr/>
				<ul>
					<li>Comment on articles</li>
					<li>Participate in forums</li>
					<li>Get doctors' advices</li>
					<li>Appointment setup with doctors!</li>
				</ul>
  			</div>
  	
  		</div>

		<div class="large-8 columns" role="content">

			{% if registered %}

				<strong>Thank you for registering</strong>
				<p><a href="{% url 'home' %}">Return home</a></p>

			{% else %}

				<h3>Register a Profile With Us NOW!</h3>
				
				<br/>

				<form id="user_form" method="post" action="{% url 'registration' %}" enctype="multipart/form-data">
						
						{% csrf_token %}

						{{ user_form.as_p }}
						{{ profile_form.as_p }}

						<input class="button right" type="submit" name="submit" value="Register Now" />

				</form>


			{% endif %}

    	</div>

		<br/>
    	<br/>
    	<br/>

	</div>

{% include 'auth.html' %} 
	
{% include 'footer.html' %}
