{% include 'header.html' %}

{% load staticfiles %}

	<div class="row">
		<div class="large-12 columns">
			<div class="hide-for-small">
				<div id="featured">
					<img src="{% static 'portal/img/healthcare02.jpg' %}" alt="slide image">
				</div>
			</div>
 
			<div class="row">
				<div class="small-12 show-for-small"><br>
					<img src="{% static 'portal/img/healthcare02.jpg' %}"/>
				</div>
			</div>
		</div>
	</div><br>
 
	<div class="row">
  
		<div class="large-8 columns" role="content">

		<article>
		
			{% if registered %}

				<strong>Thank you for registering</strong>
				<p><a href="{% url 'home' %}">Return home</a></p>

			{% else %}

				<h3>Sign up for a WassupHealth Profile NOW!</h3>
			
				<form id="user_form" method="post" action="{% url 'registration' %}" enctype="multipart/form-data">
						
						{% csrf_token %}

						{{ user_form.as_p }}
						{{ profile_form.as_p }}

						<input type="submit" name="submit" value="Register" />

				</form>

				<br/>

				<br/>

			{% endif %}

		</article>
			
    </div>

	</div>

	<div id="myModal" class="reveal-modal remove-whitespace" data-reveal>
		<div class="row">
			<div class="large-6 columns auth-plain">
				<div class="signup-panel left-solid">
					<p class="welcome">Registered Users</p>
					<form>
						<div class="row collapse">
							<div class="small-2  columns">
								<span class="prefix"><i class="fi-torso-female"></i></span>
							</div>
							<div class="small-10  columns">
								<input type="text" placeholder="username">
							</div>
						</div>
						<div class="row collapse">
							<div class="small-2 columns ">
								<span class="prefix"><i class="fi-lock"></i></span>
							</div>
							<div class="small-10 columns ">
								<input type="text" placeholder="password">
							</div>
						</div>
					</form>
					<a href="#" class="button ">Log In </a>
				</div>
			</div>

			<div class="large-6 columns auth-plain">
				<div class="signup-panel newusers">
					<p class="welcome"> New User?</p>
					<p>Register and put healthcare in your fingertips!</p><br>
					<a href="#" class="button ">Sign Up</a></br>
				</div>
			</div>

		</div>  
		
		<a class="close-reveal-modal">&#215;</a>
		
	</div>

{% include 'auth.html' %} 
	
{% include 'footer.html' %}
