{% include 'header.html' %}

{% load staticfiles %}
 
	<div class="row">
  
		<div class="large-8 columns" role="content">
		
		<h3> Viewing Articles Under <b>{{ category }}</b> </h3>
		
		<br/>
		
		{% for post in posts %}
		<article>
		
			<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
			<h6>Posted on {{ post.timestamp }} by {{ post.author }}</h6>

			{{ post.bodytext | safe | truncatechars_html:500 }}

			
		</article>
 		
		<hr/>
 		{% endfor %}
 
    </div>

    <aside class="large-4 columns">
 
		<div class="category">
			<h5>Categories</h5>
			<hr/>
			<ul class="side-nav">
				{% for category in categories %}
					<li><a href="{{ category.get_absolute_url }}">{{ category.category_name }}</a></li>
				{% endfor %}
			</ul>
		</div>

		<div class="category">
			<h5>Health Threats</h5>
			<hr/>
			<ul class="side-nav">
				{% for h in health_threats %}
					<li><a href="{{ h.get_absolute_url }}">{{ h.category_name }}</a></li>
				{% endfor %}
			</ul>
		</div>	
 
    </aside>
 
     
	</div>
	
{% include 'auth.html' %}
	
{% include 'footer.html' %}
