{% include 'header.html' %}

{% load staticfiles %}

	<div class="row">
  
		<div class="large-8 columns" role="content">

		<article>
		
			<h3>{{ post.title }}</h3>
			<h6>Posted on {{ post.timestamp }} by {{ post.author }}</h6>
			<h6>Under: {{ post.category }}</h6>
 			<br/>

			<div class="row">

				{% block content %}
					{{ post.bodytext | safe }}
				{% endblock %}
			</div>

			{% if post.comments_enabled %}
			<div class="row">
				 
				 <div id="disqus_thread"></div>
				 
				 <script type="text/javascript">
    				
    				var disqus_shortname = 'wassuphealth'; 
    				var disqus_identifier = '{{ post.title_slug }}';
    				var disqus_title = '{{ post.title }}';
    				var disqus_url = 'http://www.wassuphealth.com{{ post.get_absolute_url }}';

    				/* * * DON'T EDIT BELOW THIS LINE * * */
    				(function() {
        				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    				})();

				</script>

				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
			
			</div>
			{% else %}
			<div class="row">
				<p class="alert-box alert">Comments disabled for this article</p>
			</div>
			{% endif %}			
		</article>
 		
		<hr/>

    </div>

    <aside class="large-4 columns">
 
  		<div class="category">
 			<img src="http://placehold.it/320x320&text=Advertisement"/>
 			<br/>
 			<br/>
 		</div>

		<div class="category">
			<h4>Under the same category</h4>
			<hr/>
			<br/>
		</div>
		
		<div class="category">
			<h4>Health Threats</h4>
			<hr/>
			<ul class="side-nav">
				{% for h in health_threats %}
					<li><a href="{{ h.get_absolute_url }}">{{ h.category_name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	
    </aside>
 
     
	</div>

{% include 'auth.html' %} 
	
{% include 'footer.html' %}
