{% include 'header.html' %}

{% load staticfiles %}

	<br/>
	<br/>

	<div class="row">

  	 	<div class="small-12 large-3 columns">

				<h4 class="article-heading" align="left"><b>Hello clinician, {{ request.user }}</b></h4>
			<div class="panel category">
				<h5>Your Administration</h5>
				<ul class="side-nav">
					<li><a href="#yourprofile">Your Profile</a></li>
					<li><a href="#questions">Questions by Users</a></li>
					<li><a href="#articles">Curate your articles</a></li>
				</ul>
			</div>

			 <div class="category">
 				<img src="http://placehold.it/320x320&text=Advertisement"/>
 				<br/>
 				<br/>
 			</div>

 		</div>

 		<div class="small-12 large-8 columns" role="content">

			<a name="yourprofile"></a>
			<div class="row">

      	<h4 class="article-heading" align="right">Your Profile <a href="{% url 'manage_profile' %}">[Manage]</a></h3>
				<hr/>
				<table border="0" width="100%" cellpadding="0">
					<tr>
						<td width="30%"><b>Username</b></td>
						<td width="70%">{{ userinfo.username }}</td>
					</tr>
					<tr>
						<td width="30%"><b>Password</b></td>
						<td width="70%">**********</td>
					</tr>
					<tr>
						<td width="30%"><b>SMC Registration Number:</b></td>
						<td width="70%">99999G</td>
					</tr>
					<tr>
						<td width="30%"><b>Email Address</b></td>
						<td width="70%">{{ userinfo.email }}</td>
					</tr>
					<tr>
						<td width="30%"><b>Join Date</b></td>
						<td width="70%">{{ userinfo.date_joined }}</td>
					</tr>
					<tr>
						<td width="30%"><b>Country</b></td>
						<td width="70%">{{ profile.country }}</td>
					</tr>
					<tr>
						<td width="30%"><b>Clinical Address</b></td>
						<td width="70%">IGNORE {{ profile.home_address }}</td>
					</tr>
				</table>

      </div>

			<a name="questions"></a>
			<div class="row">

				<h4 class="article-heading" align="right">Posted Questions by Users</h3>
				<hr/>

				<p>Ask a Doctor</p>

				    <table border="0" cellpadding="0">
					<tr>
						<td width="65%"><h5><b>Questions</b></h5></td>
						<td width="10%"><h5><b>Posted By</b></h5></td>
						<td width="10%"><h5><b>Status</b></h5></td>
						<td width="15%"><h5><b>Last Updated</b></h5></td>
					</tr>

					{% for q in qns %}

					<tr>
						<td {% if forloop.last %}class="last"{% endif %}>

							<a href="{% url 'ans_question' q.pk %}">{{ q.question }}</a>

						</td>

						<td>
							{{ q.posted_by }}
						</td>

						<td>
							{{ q.status }}
						</td>

						<td {% if forloop.last %}class="last"{% endif %}>

							{{ q.timestamp }}

						</td>

					</tr>

					{% endfor %}

				</table>

			</div>

			<a name="articles"></a>
			<div class="row">

				<h4 class="article-heading" align="right">Curate Your Articles</h3>
				<hr/>

				<!--<div class="large-12 columns">

				<script src="{% static 'ckeditor/ckeditor.js' %}"></script>

					<form action="" method="POST"> {% csrf_token %}
							<textarea name="articleText" id="articleText" rows=15 columns=30></textarea>
							<br/>

							<input type="submit" class="button small" value="Submit" id="submit" />

            	<script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'articleText', {toolbar : 'Basic'	});
            	</script>
					</form>

				</div>-->

				<p>This will redirect you to the admin page. <a href="{% url 'admin:index' %}">Click here</a></p>
			</div>

		</div>

    </div>

    <br/>

{% include 'footer.html' %}
