{% extends 'common/common_base.html' %}
{% block title %}
<a href="{% url 'forums' %}">Wassuphealth!
  <span class="sub">Forums</span>
</a>
{% endblock %}
{% block wsh_content %}

  {% load staticfiles %}
  {% load widget_tweaks %}

    <div class="container">
			<div class="hidden-xs hidden-sm" style="margin-top:50px;"></div>
			<div class="row col-md-12">
				<h1>Wassup Doc!<small> on {{ title }}</small></h1>
			</div>
			<div class="col-md-8 col-sm-12 container">

        {% if qns %}

          <h4 align="left">Answered Questions</h4>

          {% for qn in qns %}

            <div style="row">
              <hr/>
					    <p class="{% cycle 'leftspeech' 'rightspeech' %} col-xs-12">
                <a href="{% url 'get_question' qn.pk %}">{{ qn.question }}</a>
					    </p>
					    <div class="col-xs-2 {% cycle '' 'pull-right' %}">
						    <img class="img-responsive img-circle" src="{% static 'assets/images/people/profile-s-1.png' %}" alt="" />
                <br/>
					    </div>
					    <div class="col-xs-10">
                <br/>
                Posted by <b>{{ qn.posted_by.username }}</b> on <b>{{ qn.timestamp }}</b>
					    </div>
				    </div>
          {% endfor %}

        {% else %}
          <br/>
          <br/>
          <h3 align=center>No questions asked yet. Be the first? Towards your right! <span class="glyphicon glyphicon-arrow-right"></span></h3>
        {% endif %}

			</div>
			<div class="col-md-4 col-sm-12 container">
				<div style="row">

          <form action="{% url 'save_question' specialty_id %}" method="POST">
            {% csrf_token %}
						<div class="form-group">
							<h3 align="right">Ask a Question!</h3>
              <br/>
              {% render_field question_form.question class+="form-control" attr="required":textarea rows="4" %}

              <div class="form-group form-inline">
                <br/>
                <p align=center>
                  <label for="private" class="control-label">Ask privately? </label>
                  {% render_field question_form.private class+="form-control" %}
                  &nbsp
                  <label for="tag_profile" class="control-label">Tag profile? </label>
                  {% render_field question_form.tag_profile class+="form-control" %}
                  &nbsp
                  <button type="submit" class="btn btn-default">Submit!</button>
                </p>
                <hr/>
              </div>
						</div>
					</form>
				</div>
				<div style="row">
					<div class="list-group">
						<p class="list-group-item list-group-item-warning">
								Related Specialists
						</p>
            {% for specialist in related_specialists %}
						<a href="{% url 'view_doctor' specialist.id %}" class="list-group-item">Dr. {{ specialist.userprofile.user.first_name }} {{ specialist.userprofile.user.last_name }}</a>
						{% endfor %}
					</div>
				</div>
				<div style="row">
					<div class="list-group">
						<p class="list-group-item list-group-item-warning">
							List of Popular Topics
						</p>
					</div>
				</div>
			</div>
      <div class="row">
        <hr/>
        <p align=justify style="font-size:14px; color:grey"><b>Note:</b> Suggestions offered by doctors on <b>Wassuphealth!</b> are of advisory nature i.e., for educational and informational purposes only. Content posted on, created for, or compiled by <b>Wassuphealth!</b> is not intended or designed to replace your doctor's independent judgment about any symptom, condition, or the appropriateness or risks of a procedure or treatment for a given person.</h5>
      </div>
		</div>

{% endblock %}
