{% extends 'common/common_base.html' %}
{% block title %}
<a href="{% url 'forums' %}">Wassuphealth!
  <span class="sub">Forums</span>
</a>
{% endblock %}
{% block wsh_content %}

  {% load staticfiles %}
  {% load widget_tweaks %}

    <div class="container">
			<div class="hidden-xs hidden-sm" style="margin-top:100px;"></div>


      <div class="col-md-2 col-sm-12">
			</div>

			<div class="col-md-8 col-sm-12 container">

        <div class="row col-sm-12 col-md-12 container">
          <h4 align="left"><b>Question:</b></h4>
          <h3 align="justify">{{ Question.question }}</h3>
          <br/>
          <p align="left">Posted by <b>{{ Question.posted_by.username }}</b> on <b>{{ Question.timestamp }}</b> under <b><a href="{% url 'questions_specialty' specialty_id %}">{{ specialty_title }}</a></b></p>
          {% if user.is_authenticated %}
            <p align="{% cycle 'right' 'left' %}"><a href="{% url 'question_vote' 'upvote' Question.pk %}"><b>This helps!</b></a> ({{ Question.upvote }})</p>
          {% else %}
            <p align="{% cycle 'right' 'left' %}"><b>This helps!</b> ({{ Question.upvote }})</p>
          {% endif %}
        </div>

        <div style="row">
          <div class="col-sm-12 col-sm-12 container">
            <div class="form-group">
              {% if user.is_authenticated %}

                {% if user.userprofile.clinicianprofile or Question.posted_by.email = user.email and Question.status = 'ANSWERED'  %}
                <form action="{% url 'save_answer' question_id %}" method="POST">
                  {% csrf_token %}
                  <label for="voting" class="control-label">Your Response:</label>
                  {% render_field answer_form.answer class+="form-control" attr="required":textarea rows="4" %}
                  <br/>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
                {% endif %}

              {% else %}
                <h3 align=center><b>Please login to post a response or vote</b></h3>
              {% endif %}

              <hr/>
            </div>
          </div>
        </div>

        {% if Answer %}

          {% for ans in Answer %}
            <div style="row">
					    <p class="{% cycle 'leftspeech' 'rightspeech' %} col-xs-12">
                {{ ans.answer | safe }}
					    </p>
					    <div class="col-xs-2 {% cycle '' 'pull-right' %}">
                <img class="img-responsive img-circle" src="{% static 'assets/images/people/profile-s-1.png' %}" alt="" />
                <br/>
              </div>
					    <div class="col-xs-10">
                <br/>
                Answered by
                {% if ans.answer_provided_by.userprofile.clinicianprofile %}
                  <span align="{% cycle 'right' 'left' %}" style="color:red;"> Clinician <a href="{% url 'view_doctor' ans.answer_provided_by.userprofile.clinicianprofile.id %}"><b><u>Dr. {{ ans.answer_provided_by.first_name }} {{ ans.answer_provided_by.last_name }}</u></b></a> </span>
                {% else %}
                  <span align="{% cycle 'right' 'left' %}"><b>{{ ans.answer_provided_by.username }}</b> </span>
                {% endif %}
                on <b>{{ ans.timestamp }}</b>
            	</div>
				    </div>
          {% endfor %}

        {% else %}

          <div style="row">
            <h4>No answers yet. You will be the first!</h4>
          </div>

        {% endif %}

		  </div>
			<div class="col-md-2 col-sm-12">
			</div>

		</div>

{% endblock %}
