{% include 'header.html' %}

{% load humanize %}

{% load staticfiles %}
 	<br/>

	<div class="row">

        <br/>
        <br/>

		<h1 class="article-heading" align=left><b>What's up Health?</b></h1>

        <p align=center> Do you have any heart-burning questions on health and fitness? Post them here and a doctor will answer you shortly. Skin problem? Take a picture and upload now! NOTE THAT for emergency, please contact your country's emergency hotline.</p>

		<br/>

        <div class="large-2 columns">
        </div>

		<div class="large-centered columns">


			<div class="row collapse">

        {% if user.is_authenticated %}

			      {% if posted %}

				      <p align=center><b>Thank you for posting. A doctor will get back to you shortly.</b></p>

			      {% else %}

            	<form id="question_form" method="post" action="{% url 'questions_main' %}" enctype="multipart/form-data">

            		{% csrf_token %}

                <div class="large-10 columns">
                  <div class="row collapse postfix-round">
                    {{ question_form.question.errors }}
                    {{ question_form.question }}
                  </div>
                </div>
                <div class="small-2 columns">
                  <input class="button postfix" type="submit" name="submit" value="Submit!"/>
                </div>

          		</form>

            {% endif %}

        {% else %}

              <h4 align=center><b>Please login to post a question</b></h4>

        {% endif %}

     	</div>

       <br/>
       <hr/>

      <div class="row">
          <h3 class="article-heading" align=center>What has been asked? -- Pending Questions</h3>
          <br/>
          <table width="70%" align=center>

            <tr>
              <th width="75%"><h5><b>Question</b></h5></th>
              <th width="25%"><h5><b>Date and Time of Posting</b></h5></th>
            </tr>

            {% for qn in qns %}
              <tr>
                <td>{{ qn.question }}</td>
                <td>{{ qn.timestamp }}</td>
              </tr>
            {% endfor %}
          </table>
      </div>

    </div>

        <div class="large-2 columns">
        </div>

        <br/>
        <br/>
        <br/>

	</div>

{% include 'auth.html' %}

{% include 'footer.html' %}
