{% include 'header.html' %}

{% load humanize %}

{% load staticfiles %}

<br/>

<div class="row">

		<div class="large-centered columns">

      <h1 class="article-heading" align=left><b>Question:</b></h1>

      <h5> {{ Question.question }} </h5>
			<br/>
			<p align="right"> <i><b>Posted on:</b> {{ Question.timestamp }}</p>

      <br/>

			  <div class="row collapse postfix-round">

        		<div class="small-3 columns">
        		</div>

            <div class="small-11 columns">

							<hr/>

              <h4 class="article-heading" align=left>Your Answer:</h4>

              <br/>

              <div class="row">
                <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
                <div class="large-10 columns">
									<form action="{{ action }}" method="POST"> {% csrf_token %}
	                		<textarea name="body" id="body" rows=10></textarea>
	               		 	<input type="submit" class="button small" value="Submit" id="submit" />
	            		</form>
                </div>
              </div>

							<div class="row collapse">

								<hr/>

								<h4 class="article-heading" align=left>Who has provided answers so far?</h4>
								<br/>

								{% if Answer %}

									{% for ans in Answer %}

										<div class="row">
											<div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
											<div class="large-10 columns">
	                  		<p><strong>{{ ans.answer_provided_by }} said:</strong> {{ ans.answer }}</p>
											</div>
										</div>
										<br/>

									{% endfor %}

								{% else %}
										<h5>No answers yet. You will be the first!</h5>
								{% endif %}

								<br/>
								<br/>

              </div>

        </div>

    </div>

</div>

</div>

{% include 'auth.html' %}

{% include 'footer.html' %}
