c{% include 'header.html' %}

{% load humanize %}

{% load staticfiles %}
 	<br/>

	<div class="row">

        <br/>
        <br/>

		<h1 class="article-heading" align=left>What's up Health?</h1>

        <p> Do you have any heart-burning questions on health and fitness? Post them here and a doctor will answer you shortly. NOTE THAT for emergency, please contact your country's emergency hotline.</p>

		<br/>

        <div class="large-2 columns">
        </div>

		<div class="large-centered columns">


			<div class="row collapse postfix-round">

        {% if user.is_authenticated %}

			      {% if posted %}

				      <p>Thank you for posting. A doctor will get back to you shortly</p>

			      {% else %}

            	<form id="question_form" method="post" action="{% url 'questions_main' %}" enctype="multipart/form-data">

            		{% csrf_token %}

            		{{ question_form.as_p }}

        			<div class="small-2 columns">
              			<input class="button small" type="submit" name="submit" value="GO!" />
        			</div>
          		</form>

            {% endif %}

        {% else %}

              <p>Please login to post a question</p>

        {% endif %}

     	</div>

    </div>

        <div class="large-2 columns">
        </div>

        <br/>
        <br/>
        <br/>

	</div>

{% include 'auth.html' %}

{% include 'footer.html' %}
