{% extends 'common/portal_base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block wsh_content %}

    <div class="headline-bg about-headline-bg">
    </div><!--//headline-bg-->

    <!-- ******Video Section****** -->
    <section class="story-section section section-on-bg">
        <h2 class="title container text-center">{{ flatpage.title }}</h2>
        <div class="story-container container text-center">

          {% block content %}
            {{ flatpage.content }}
          {% endblock %}

        </div><!--//container-->
    </section><!--//story-video-->

{% endblock %}
