/* Styles for site */

.top-bar {
  background-color: #28ABE3 !important;
}

.top-bar ul li a {
  background-color: #28ABE3 !important;
}

.search{
	
}

.category{
	background-color: ##1FDA9A;
	border: 0;
}

.featured{
	background-color: ##1FDA9A;
	border: 0;
}