/* Styles for site */

.main-font {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.top-bar {
 	background-color: #69D2E7 !important;
}

.top-bar ul li a {
  	background-color: #69D2E7 !important;
}

.search{
	
}

.category{
	background-color: #F7EAC8;
	border: 0;
}

.featured{
	background-color: #F7EAC8;
	border: 0;
}

.name{
 	background-color: #DB3340
 }