.leftspeech 
{
position: relative;
width: 100%;
height: auto;
padding: 10px;
background: #d9f5f6;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #d9f5f6 solid 5px;
text-align: center;
}

.leftspeech:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #d9f5f6 transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -15px;
bottom: -15px;
left: 6%;
}

.leftspeech:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 19px 19px 0;
border-color: #d9f5f6 transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -19px;
bottom: -24px;
left: 6%;
}
.rightspeech 
{
position: relative;
width: 100%;
height: auto;
padding: 10px;
background: #d9f5f6;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #d9f5f6 solid 5px;
text-align: center;
}

.rightspeech:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -15px;
bottom: -15px;
left: 94%;
}

.rightspeech:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 19px 19px 0;
border-color: #d9f5f6 transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -19px;
bottom: -24px;
left: 94%;
}