{% extends 'common/common_base.html' %}
{% block title %}
<a href="{% url 'news' %}">Wassuphealth!
  <span class="sub">{{ category }}</span>
</a>
{% endblock %}

{% load staticfiles %}
{% load humanize %}

{% block wsh_content %}
<body class="blog-page">
    <div class="wrapper">

        <section class="featured-blog-posts section">
            <div class="flexslider blog-slider">
                <ul class="slides">
                    <li class="slide slide-1">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">Know more about Common Cold, Flu and Influenza</a></h3>
                            <div class="meta">What you can do to make yourself feel better</div>
                            <a class="more-link" href="blog-single.html">Read more &rarr;</a>
                        </div><!--//flex-caption-->
                    </li>
                    <li class="slide slide-2">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">Research Breakthrough For HIV</a></h3>
                            <div class="meta">Scientists were able to eradicate HIV genome from human DNA </div>
                            <a class="more-link" href="blog-single.html">Read more &rarr;</a>
                        </div><!--//flex-caption-->
                    </li>
                    <li class="slide slide-3">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">Depression, a flaw in chemistry not character</a></h3>
                            <div class="meta">Signs, symptoms, causes and when to get help</div>
                            <a class="more-link" href="blog-single.html">Read more &rarr;</a>
                        </div><!--//flex-caption-->
                    </li>
                    <li class="slide slide-4">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">Good design is good business</a></h3>
                            <div class="meta">5th Aug, 2014</div>
                            <a class="more-link" href="blog-single.html">Read more &rarr;</a>
                        </div><!--//flex-caption-->
                    </li>
                </ul><!--//slides-->
            </div><!--//flexslider-->

        </section><!--//featured-blog-posts-->

        <!-- ******BLOG LIST****** -->
        <div class="blog container">
			<div class="col-md-5 col-md-offset-3">
			<label class="switch-light switch-candy" onclick="setTimeout( function() { window.location.href = 'news.php'; }, 500); ">
			</label>
			</div>

            <div class="row">

                <div id="blog-mansonry" class="blog-list">

                    {% for post in posts %}
                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb">
                                <a href="blog-single.html"><img class="img-responsive" src="{% static 'assets/images/blog/post-1-thumb.jpg' %}" alt="" /></a>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                <div class="post-entry">
                                    <p>{{ post.bodytext | safe | truncatechars_html:250 | striptags }}</p>
                                    <a class="read-more" href="{{ post.get_absolute_url }}">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                    	<li class="post-time post_date date updated">{{ post.timestamp | naturaltime }}</li>
                                    	<li class="post-author"> by <a href="#">{{ post.author }}</a></li>
                                    	<li class="post-comments-link">
                                	        <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>8</a>
                                	    </li>
                                	</ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->
                    {% endfor %}

                </div><!--//blog-list-->
            </div><!--//row-->
            <div class="pagination-container text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul><!--//pagination-->
            </div><!--//pagination-container-->
        </div><!--//blog-->
    </div><!--//wrapper-->

{% endblock %}
