{% extends 'common/common_base.html' %}
{% block title %}
<a href="#">Wassuphealth!
  <span class="sub">Conditions</span>
</a>
{% endblock %}
{% block wsh_content %}

  {% load staticfiles %}
  {% load widget_tweaks %}
  {% load humanize %}

    <link rel="stylesheet" href="{% static 'assets/css/toggle-switch.css' %}">

    <!-- ******BLOG LIST****** -->
    <div class="blog container">
      <div class="hidden-xs hidden-sm" style="margin-top:100px;"></div>
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
				<label class="switch-light switch-candy" onclick="setTimeout( function() { window.location.href = 'news.php'; }, 500); ">
					<input type="checkbox" checked>
					<span>
						<span>News</span>
						<span>Conditions</span>
					</span>
					<a></a>
				</label>
			</div>
			<hr>
			<div class="row">

        <div id="blog-mansonry" class="blog-list">

				  {% for condition in conditions %}
            <article class="post col-md-4 col-sm-6 col-xs-12">
              <div class="post-inner">
                <figure class="post-thumb">
                  <a data-toggle="modal" data-target="#<?php echo str_replace(' ', '', $key);?>"><img class="img-responsive" src="http://www.playamedical.com/images/Allergy-and-Immunology.jpg" alt="" /></a>
                </figure><!--//post-thumb-->
                <div class="content">
                  <h3 class="post-title"><a data-toggle="modal" data-target="#<?php echo str_replace(' ', '', $key);?>"><?php echo "$key"; ?></a></h3>
                  <div class="post-entry">
									  Description
                  </div>
                </div>
              </div>
            </article>
					<!--<div class="modal fade" id="<?php echo str_replace(' ', '', $key);?>" role="dialog" aria-labelledby="<?php echo "$key"; ?>" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="c
                  lose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel"><?php echo "$key"; ?></h4>
								</div>
								<div class="modal-body">
									<ul>
										<?php foreach ($value as $var) { ?>
											<li><?php echo "$var"; ?></li>
										<?php } ?>
									</ul>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>-->
					{% endfor %}

      </div><!--//blog-list-->
    </div><!--//row-->
  </div><!--//blog-->

{% endblock %}
