{% extends 'common/common_base.html' %}
{% block title %}
<a href="#">Wassuphealth!
  <span class="sub">Conditions</span>
</a>
{% endblock %}
{% block wsh_content %}

  {% load staticfiles %}
  {% load widget_tweaks %}
  {% load humanize %}

        <!-- ******BLOG****** -->
        <div class="blog-entry-wrapper">
            <!--
            <div class="blog-headline-bg">
            </div><!--//blog-headline-bg-->
            <div class="blog-entry">
                <article class="post">
                    <header class="blog-entry-heading">
                        <div class="container text-center">
                            <h2 class="title">{{ condition.name }}</h2>
                            <div class="meta">
                                <br/>

                              Category: <a href="{{ condition.category.get_absolute_url }}">{{ condition.category }}</a>
                              <br/>
                              Tagged under:
                              {% for tag in tags %}
                                <a href="{% url 'view_tagged' tag.id tag.slug %}">{{ tag | title }}</a>
                              {% endfor %}

                            </div><!--meta-->
                        </div><!--//container-->
                        <nav class="post-nav post-nav-top">
    						<span class="nav-previous"><a href="#" rel="prev"><i class="fa fa-long-arrow-left"></i>Previous post</a></span>
    						<span class="nav-next"><a href="#" rel="next">Next post<i class="fa fa-long-arrow-right"></i></a></span>
    				    </nav><!--//post-nav-->
                    </header><!--//blog-entry-heading-->

                    <div class="container">
                        <div class="row">
                            <div class="blog-entry-content col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">

                                <article>
                                  {% block content %}
                                   <h3>Overview</h3>
                                   {{ condition.overview | safe }}

                                   <br/>
                                   <h3>Transmission</h3>
                                   {{ condition.transmission | safe }}

                                   <br/>
                                   <h3>Symptoms</h3>
                                   {{ condition.symptoms | safe }}

                                   <br/>
                                   <h3>Complications</h3>
                                   {{ condition.complications | safe }}

                                   <br/>
                                   <h3>Diagnosis</h3>
                                   {{ condition.diagnosis | safe }}

                                   <br/>
                                   <h3>Treatment</h3>
                                   {{ condition.treatment | safe }}

                                   <br/>
                                   <h3>Prevention</h3>
                                   {{ condition.prevention | safe }}

                                   <br/>
                                   <br/>

                                  {% endblock %}
                                </article>

                            </div><!--//blog-entry-content-->


                            <nav class="post-nav col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
            						<span class="nav-previous"><a href="#" rel="prev"><i class="fa fa-long-arrow-left"></i>Previous</a></span>
            						<span class="nav-next"><a href="#" rel="next">Next<i class="fa fa-long-arrow-right"></i></a></span>
            				</nav><!--//post-nav-->

                        </div><!--//row-->
                    </div><!--//container-->
                </article><!--//post-->
            </div><!--//blog-entry-->
        </div><!--//blog-entry-wrapper-->
    </div><!--//wrapper-->

{% endblock %}
