{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include 'static.html' %}

<body class="blog-page">
    <div class="wrapper">
      {% include 'portal/header-forums.html' %}
        <div class="container">
			<div class="hidden-xs hidden-sm" style="margin-top:100px;"></div>
			<div class="row col-md-12">
				<h1>Your Activities</h1>
			</div>
			<div class="col-md-10 col-sm-12 container">
        <h3 align="left">Wassup Peeps! <small>Total: {{ user_posts.count }}</small></h3>
        <table class="table table-hover" style="font-size:14px;">
            <tr>
              <th width="15%">Forum</th>
              <th width="65%">Your Post</th>
              <th width="20%">Date Posted</th>
            </tr>

            {% for post in user_posts %}
              <tr>
                <td>{{ post.forum }}</td>
                <td><a href="{% url 'thread' post.pk %}" target="blank">{{ post.experience }}</a></td>
                <td>{{ post.created }}</td>
              </tr>
            {% endfor %}

        </table>

        <br/>

        <h3 align="left">Wassup Doc! <small>Total: {{ user_qns.count }}</small></h3>
        <table class="table table-hover" style="font-size:14px;">
            <tr>
              <th width="15%">Specialty</th>
              <th width="55%">Question</th>
              <th width="20%">Date Posted</th>
              <th width="10%">Status</th>
            </tr>

            {% for qn in user_qns %}
            <tr>
              <td>{{ qn.specialty }}</td>
              <td><a href="{% url 'get_question' qn.pk %}" target="blank">{{ qn.question }}</a></td>
              <td>{{ qn.timestamp }}</td>
              {% if qn.status = 'ANSWERED' %}
              <td><b>{{ qn.status }}</b></td>
              {% else %}
              <td>{{ qn.status }}</td>
              {% endif %}
            </tr>
            {% endfor %}
        </table>
        <br/>
        <br/>

      </div>
			<div class="col-md-2 col-sm-12 container">
				<div style="row">
					<div class="list-group">
            <p align=center><img class="img-responsive img-circle" src="{% static 'assets/images/people/profile-s-1.png' %}" height=100 width=100 alt="" /></p>
						<p class="list-group-item list-group-item-warning">
							Wasssssup, {{ user.username }}?
						</p>
						<a href="{% url 'view_activities' %}" class="list-group-item">
						<h4 class="list-group-item-heading">Activities</h4>
						</a>
						<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Profile</h4>
						</a>
						<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Settings</h4>
						</a>
						<a href="{% url 'logout' %}" class="list-group-item">
						<h4 class="list-group-item-heading">Log Out</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
    </div><!--//wrapper-->

    {% include 'footer.html' %}

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/flexslider/jquery.flexslider-min.js"></script>

    <!-- blog page specific js starts -->
    <script type="text/javascript" src="{% static 'assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/js/blog.js"></script>
    <!-- blog page specific js ends -->

    <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/star-rating.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/textext.core.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/textext.plugin.ajax.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/textext.plugin.autocomplete.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/textext.plugin.clear.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/textext.plugin.filter.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/textext.plugin.promt.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/textext.plugin.suggestions.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/textext.plugin.tags.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/jquery.barrating.min.js' %}" type="text/javascript"></script>

</body>
</html>
