{% extends 'common/common_base.html' %}
{% block title %}
<a href="{% url 'forums' %}">Wassuphealth!
  <span class="sub">Forums - Index</span>
</a>
{% endblock %}
{% block wsh_content %}

{% load staticfiles %}

    <div class="container" style="margin-top:100px;">
      <div class="alert alert-info" role="alert">
        <p>
            Suggestions offered by doctors on Wassuphealth! are of advisory nature i.e.,
          for educational and informational purposes only. Content posted on, created
          for, or compiled by Wassuphealth! is not intended or designed to replace your
          doctor's independent judgment about any symptom, condition, or the
          appropriateness or risks of a procedure or treatment for a given person.
        </p>
      </div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<h2>Wassup Peeps!</h2>
        <div class="panel panel-default">
          <div class="panel-body">

            {% regroup forums by title|slice:":1" as forums_list %}

              <dl class="dl-vertical">
                {% for forum in forums_list %}
                <dt>{{ forum.grouper }}
                  <dt>
                    <hr/>
                    {% for f in forum.list %}
                    <dd><a href="{% url 'forum' f.pk %}">{{ f.title }}</a></dd>
                    {% endfor %}
                  </dt>
                </dt>
                <br/>
                {% endfor %}

              </dl>

          </div>
        </div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6">

        <h2>Wassup Doc!</h2>
        <div class="panel panel-default">

          <div class="panel-body">

            <ul class="nav nav-tabs" id="wassupdoctabs">
              <li class="active"><a href="#specialties" data-toggle="tab">Specialties</a></li>
              <li><a href="#hot_topics" data-toggle="tab">Hot Topics!</a></li>
            </ul>

            <div class="tab-content">

              <div class="tab-pane active" id="specialties">
                <dl class="dl-horizontal">
                  {% for s in specialties %}
                  <dt><a href="{% url 'questions_specialty' s.pk %}">{{ s.title }}</a></dt>
                  {% endfor %}
                </dl>
              </div>

              <div class="tab-pane" id="hot_topics">
                <dl class="dl-horizontal">
                  {% for h in hot_topics %}
                  <dt><a href="{% url 'questions_specialty' h.pk %}">{{ h.title }}</a></dt>
                  {% endfor %}
                </dl>
              </div>

            </div><!--tab content-->

          </div><!--panel body-->

        </div><!--panel-->

      </div><!--column-->

		</div>

    <script>
    $('#myTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
    </script>

{% endblock %}
