{% extends 'common/common_base.html' %}
{% block title %}
<a href="{% url 'forums' %}">Wassuphealth!
  <span class="sub">Forums - Index</span>
</a>
{% endblock %}
{% block wsh_content %}

{% load staticfiles %}

    <div class="container" style="margin-top:100px;">

        <h2>Welcome to Wassuphealth Forums!</h2>
        <div class="alert alert-info" role="alert">
          <p align=justify style="font-size:16px">
              Suggestions offered by doctors on Wassuphealth! are of advisory nature i.e.,
            for educational and informational purposes only. Content posted on, created
            for, or compiled by Wassuphealth! is not intended or designed to replace your
            doctor's independent judgment about any symptom, condition, or the
            appropriateness or risks of a procedure or treatment for a given person.
          </p>
        </div>

			<div class="col-xs-12 col-sm-12 col-md-6">
				<h3>Wassup Peeps!</h3>
        <p align=justify>There are currently <b>{{ thread_count }}</b> experiences shared and increasing.</p>
        <div class="panel panel-default">
          <div class="panel-body">

            {% regroup forums by title|slice:":1" as forums_list %}

              <dl class="dl-vertical">
                {% for forum in forums_list %}
                <dt>{{ forum.grouper }}
                  <dt>
                    <hr/>
                    {% for f in forum.list %}
                    <dd><a href="{% url 'forum' f.pk %}">{{ f.title }}</a></dd>
                    {% endfor %}
                  </dt>
                </dt>
                <br/>
                {% endfor %}

              </dl>

          </div>
        </div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6">

        <h3>Wassup Doc!</h3>
        <p align=justify>There are currently <b>{{ question_count }}</b> questions asked and increasing.</p>
        <div class="panel panel-default">

          <div class="panel-body">

            <ul class="nav nav-tabs" id="wassupdoctabs">
              <li><a href="#specialties" data-toggle="tab">Specialties</a></li>
              <li class="active"><a href="#hot_topics" data-toggle="tab">Hot Topics!</a></li>
            </ul>

            <div class="tab-content">

              <div class="tab-pane" id="specialties">

                <p>
                  <ul class="list-group">
                    {% for s in specialties %}
                    <li class="list-group-item"><a href="{% url 'questions_specialty' s.pk %}">{{ s.title }}</a></li>
                    {% endfor %}
                  </ul>
                </p>

              </div>

              <div class="tab-pane active" id="hot_topics">

                <p>
                  <ul class="list-group">
                    {% for h in hot_topics %}
                    <li class="list-group-item"><a href="{% url 'questions_specialty' h.pk %}">{{ h.title }}</a></li>
                    {% endfor %}
                  </ul>
                </p>

              </div>

            </div><!--tab content-->

          </div><!--panel body-->

        </div><!--panel-->

      </div><!--column-->

		</div>

    <script>
    $('#myTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
    </script>

{% endblock %}
