{% include 'header.html' %}

{% load staticfiles %}
	
	<br/>
	<br/>
	
	<div class="row">
   		
   		<div class="small-12 large-8 columns">

   			<h1 class="article-heading" align=left>Discussion Forums</h1>	
  	 		
  	 	</div>

      {% if user.is_authenticated %}
  	 	<div class="small-12 large-2 columns">
        <br/>
  	 		<a href="#" class="button tiny radius right">Start a Discussion</a>

  	 	</div>

      <div class="small-12 large-2 columns">
        <br/>
        <a href="#" class="button tiny radius right">View Your Topics</a>

      </div>
      {% else %}
      <div class="small-12 large-4 columns">
        <br/>
        <p>Please login to start a topic or post replies</p>
      </div>
      {% endif %}

  	 	<hr/>

  </div>

<!-- Forums  -->
  <div class="row">

    <div class="small-12 large-12 columns">
    
      <table border="0" cellpadding="0" width="100%">
        <tr>
          <td></td>
          <td><h6>Posts</h6></td>
          <td><h6>Last post</h6></td>
          <td></td>
        </tr>

        {% for f in forums %}
        <tr>
          <td {% if forloop.last %}class="last"{% endif %}>
          <div class="title"> <a href="#"><h5>{{ f.title }}</h5></a></div></td>
          <td {% if forloop.last %}class="last"{% endif %}>{{ f.num_posts }}</td>
          <td {% if forloop.last %}class="last"{% endif %}>
              {{ f.last_post.short | linebreaksbr }}</td>
          <td width="5%"{% if forloop.last %}class="last"{% endif %}>
              <a class="button tiny" href="#">View</a>
          </td>
        </tr>

        {% endfor %}
  
      </table>
  
    </div>

  </div>

<br/>

{% include 'footer.html' %}
