{% include 'header.html' %}

{% load staticfiles %}
	
	<br/>

	<div class="row">
	<!-- Posts  -->

		<div class="small-12 large-8 columns">

    		<div class="main">
        		
        		<div id="reply">
            	
            		<div id="rtitle"><h3 class="article-heading">{{ title }}</h3></div>

            		<br/>

            		<form action="{{ action }}" method="POST"> {% csrf_token %}
                		Subject: 
                		<input type="text" name="subject" size="60" value="{{ subject }}" />

                		Content:
                		<textarea name="body" id="body" rows=15></textarea><br />
               		 	<input type="submit" class="button small" value="Submit" id="submit" />
            		</form>

        		</div>
    		
    		</div>

		</div>

	</div>

<br/>

{% include 'footer.html' %}