{% include 'header.html' %}

{% load staticfiles %}
	
	<br/>
	<br/>
	
	<div class="row">
	<!-- Posts  -->
		
		<a href="{% url 'forum' forum_pk %}">&lt;&lt; back to list of topics</a>

		<div class="title">{{ title }}</div>
		
			<div id="list">

    		{% for post in posts.object_list %}
        		<div class="post">
            		<span class="title">{{ post.title }}</span><br />
            		by {{ post.creator }} | <span class="date">{{ post.created }}</span> <br /><br />
            		{{ post.body }} <br />
        		</div>
    		{% endfor %}

			</div>

		</div>

	</div>

<!-- Next/Prev page links
    ...
-->

<a class="button" href="{% url 'post' 'reply' pk %}">Reply</a>

<br/>

{% include 'footer.html' %}