{% include 'header.html' %}

{% load humanize %}

{% load staticfiles %}
 	<br/>

	<div class="row">

        <br/>
        <br/>

		<h2 class="article-heading" align=left><b>WHOOSH! Account Activated!</b></h2>

        <p align=center>Proceed to login to begin posting to forums, doctors and more or you can still stay healthy by reading our hand-picked articles or browsing the forums for health tips!</p>

		<br/>

        <div class="large-2 columns">
        </div>

        <br/>
        <br/>
        <br/>

	</div>

{% include 'auth.html' %}

{% include 'footer.html' %}
