<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include 'static.html' %}

<body class="login-page access-page">
    <div class="upper-wrapper">
        <!-- ******HEADER****** -->
        <header class="header">
            <div class="container">
                <h1 class="logo">
                    <a href="/"><span class="logo-icon"></span><span class="text">Wassuphealth!</span></a>
                </h1><!--//logo-->

            </div><!--//container-->
        </header><!--//header-->

        <!-- ******Login Section****** -->
        <section class="login-section access-section section">
            <div class="container">
                <div class="row">
                    <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                        <div class="form-box-inner">
                            <h2 class="title text-center">SHUCKS! Timeout!</h2>
                            <div class="row">
                                <p align=center>Your account is has not been activated. Enter your email address to have another activation link sent to you. Meanwhile, you can still stay healthy by reading our hand-picked articles or browsing the forums for health tips!</p>
                            </div><!--//row-->
                        </div><!--//form-box-inner-->
                    </div><!--//form-box-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-section-->
    </div><!--//upper-wrapper-->

    {% include 'footer.html' %}

    <!-- Javascript -->
    <script type="text/javascript" src="assets/plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>


</body>
</html>

{% include 'header.html' %}

{% load humanize %}

{% load staticfiles %}
 	<br/>

	<div class="row">

        <br/>
        <br/>

		<h2 class="article-heading" align=left><b>Shucks! Timeout!</b></h2>

        <p align=center>Your account is has not been activated. Enter your email address to have another activation link sent to you. Meanwhile, you can still stay healthy by reading our hand-picked articles or browsing the forums for health tips!</p>

		<br/>

        <div class="large-2 columns">
        </div>

        <br/>
        <br/>
        <br/>

	</div>

{% include 'auth.html' %}

{% include 'footer.html' %}
